.main {
  .container {
    width: 100%;

    .backgroundImage {
      background-image: url('https://sooldamhwa-static-files.s3.ap-northeast-2.amazonaws.com/admin_contents/origin/xh6A-1697987015831-Jatd-1694746673185-02cspc.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
    }
    .subContainer {
      padding: 30px;
      height: 100%;
      .content {
        display: flex;
        justify-content: space-between;
        max-width: 1040px;
        margin: 0 auto;
        padding-top: 60px;
        .subscribeBox {
          .subscribeContainer {
            height: auto;
            .selectContainer {
              display: flex;
              width: 90%;
              position: relative;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
