.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;

  .contentsArea {
    background-color: white;
  }

  .navHeader {
    + div {
      overflow-y: auto;
      height: calc(100vh - 60px);
      margin-top: 60px;
    }
  }
}
