.findPWFrame {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .findpwText {
    font-size: 25px;
    color: rgb(133, 133, 133);
    margin-bottom: 40px;
    font-weight: 600;
  }

  .formPWFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-bottom: 20px;

    .message {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1px;
      position: absolute;
      bottom: -28px;
      left: 0;

      &.success {
        color: #0c71fd;
      }

      &.error {
        color: #ff2727;
      }
    }

    .emailInput {
      width: 350px;
      padding: 15px;
      border: none;
      border-bottom: 1px solid gray;
    }
  }

  .confirButtonFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    .disabledButton {
      width: 320px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      color: rgb(204, 204, 204);
      font-weight: 600;
      text-align: center;
      background-color: rgb(129, 129, 129);
      margin-top: 30px;
    }

    .confirButton {
      width: 320px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 600;
      text-align: center;
      background-color: rgb(45, 126, 255);
      margin-top: 30px;
    }
  }

  .confirButtonFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-bottom: 40px;

    .message {
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: -1px;
      position: absolute;
      bottom: -28px;
      left: 0;

      &.success {
        color: #0c71fd;
      }

      &.error {
        color: #ff2727;
      }
    }
  }

  .formCertFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-bottom: 30px;

    .message {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1px;
      position: absolute;
      bottom: -28px;
      left: 0;

      &.success {
        color: #0c71fd;
      }

      &.error {
        color: #ff2727;
      }
    }

    .userInput {
      width: 350px;
      padding: 15px;
      border: none;
      border-bottom: 1px solid gray;
    }
  }
}
