.carousel {
  width: 90%;

  animation: fadein 2.2s;
  -moz-animation: fadein 2.2s;
  -webkit-animation: fadein 2.2s;
  -o-animation: fadein 2.2s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .swiper {
    margin: 0 10px;
  }
  .btnWrapper {
    display: flex;
    justify-content: space-between;
  }
}
