.subscribe {
  width: 100%;

  .backgroundImage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
  }
  .backgroundDark {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 100%;
    z-index: -1;
  }
  .subContainer {
    padding: 30px;
    height: 100%;

    .content {
      display: flex;
      justify-content: space-between;
      max-width: 1040px;
      margin: 0 auto;
      padding-top: 60px;

      .subscribeBox {
        animation: fadein 0.5s;
        -moz-animation: fadein 0.5s;
        -webkit-animation: fadein 0.5s;
        -o-animation: fadein 0.5s;

        @keyframes fadein {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        .subscribeContainer {
          height: auto;

          .selectContainer {
            display: flex;
            width: 90%;
            position: relative;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
